@media screen and (max-width: 991px) {

.container {
	min-width: 100%;
	padding: 0 !important;
}

}

@media screen and (min-width: 768px) {

/*.nav-cart {
  visibility: collapse;
}*/

}


* {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
	-webkit-padding-before: 0;
	-webkit-padding-after: 0;
}

html {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: auto;
	background-color: #fff;
}

a {
	font-size: 14px;
	color: #000;
}

.top-panel {
	width: 100%;
	background: #eeeeee;
	margin-bottom: 0;
	min-height: 60px;
	height: auto;
}

.top-panel:after {
	content: " ";
	clear: both;
	display: table;
}

.top-panel__company-name {
	font-size: 18px;
	font-weight: 600;
	color: #99765f;
	vertical-align: middle;
	padding-top: 15px;
}

.top-menu {
	padding-top: 15px;
}

.container {
	width: 80%;
	max-width: 1230px;
	height: auto;
	margin: 0 auto;
}

.header__background-image {
	background: url("../img/header.jpg") no-repeat;
	background-position: contain;
	background-size: 100%;
	width: 100%;
	padding-bottom: 25%;
}

.search-block {
	border: 1px solid #777;
}

.search-block input, 
.search-block button {
	width: screen;
	border-radius: 0px;

}

.navigation-menu {
	background: #90fa87;
	border-radius: 0;
	border: none;
	margin-bottom: -20px;
}

.sticky-menu {
	position: fixed;
	top: 0;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.nav-menu {
	min-width: 200px;
	max-width: 1600px;
	height: inherit;
	margin: auto;
}

#nav-menu #category {
	float: left;
	
}

.navbar-header span {
	padding-top: 12px;
	padding-left: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #51944e;
}

.menu-icon {
	float: right;
	font-size: 20px;
	margin: 0;
	padding: 0;
	color: #51944e;
}

.navbar-header:after {
	content: " ";
	clear: both;
	display: table;
}


.spec-background a {
	background-color: #ff9a02;
	color: #fff;
	font-weight: 600;

}

.spec-background a:hover {
	background-color: #ff9a02;
	color: #000;
	font-weight: 600;
}

main {
	background-color: #f3fff0;
	padding-top: 20px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	text-shadow: 1px 1px 2px #428d2a;
	color: #428d2a;
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 20px;
}

h4 {
	font-size: 14px;
	padding: 0 10px;
}

.grid-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	margin-right: -20px;

}

.grid-block__grid-item {
	min-width: 250px;
	max-width: 100%;
	height: auto;
	border: 1px solid #cecece;
	border-radius: 3px;
	margin-bottom: 30px;
	flex-basis: auto;
	flex-grow: 2;
	margin-right: 20px;
}

.grid-block__grid-item figcaption {
	background: #eeeeee;
}

.grid-block__grid-item img {
	display: block;
	margin: 0 auto;
}

.grid-block__grid-item:hover {
	box-shadow: 0 0 3px #cecece;
	color: #7a7aff;
	text-decoration: none;
	text-shadow: 0 0 1px #7a7aff;
	outline: none;

}

.grid-block__block-name {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.product-grid {
	padding-bottom: 50px;
}

footer {
	width: 100%;
	background-color: #f7cd76;
}

.footer-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 30px;

}

.footer-info-block {
	min-width: 300px;
	max-width: 100%;
	padding-bottom: 20px;

}

.footer-info-block__info-item {
	display: flex;
	flex-direction: column;
}



.footer-info-block__info-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #353029;
}

.footer-info-block__info-item a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #706c66;
	line-height: 28px;
	letter-spacing: 1px;
}

hr {
	border-top: 1px solid #706c66;
}
.copyright-info {
	padding-top: 20px;
}

.copyright-info p {
	color: #000;
}



